<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Datafit Migrater</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="#" data-section="mapping"><i class="fa fa-diagram-project"></i> Mapping</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="jobs"><i class="fa fa-briefcase"></i> Jobs</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="admin"><i class="fa fa-user-shield"></i> Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="auth"><i class="fa fa-key"></i> Auth</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="help"><i class="fa fa-circle-info"></i> Help</a></li>
      </ul>
    </div>
  </div>
</nav>